* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%; /*Fazendo a imagem ocupar o espaço inteiro*/
    background-image: url('./img/computador1.jpg'); /*Colocando a imagem na página*/
    background-size: cover; /*Fazendo a imagem ocupar o espaço inteiro*/
    text-align: center;
    color: white;
    min-height: 100px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

header img {
    width: 110px;
    padding-top: 120px;
}

header h3 {
    font-size: 17px;
}

header h1 {
    font-size: 60px;
    padding-top: 30px;
}

header input {
    width: 230px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-color: rgb(235, 231, 231);
}

.view_documentation {
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    width: auto;
    height: 250px;
    overflow: hidden; /* Faz o div não aumentar a altura por causa da imagem */
    
}

.vaso_rosa {
    width: 35%;
    background-image: url(img/vaso_rosa1.jpg);
}

.fundo_azul {
    width: 35%;
    background-image: url(img/fundo_azul.jpg);
    
}

.fundo_amarelo {
    width: 35%;
    background-image: url(img/fundo_amarelo1.jpg);
}

.txt_principal {
    font-size: 30px;
    padding-left: 40px;
    padding-top: 40px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-color: rgb(235, 231, 231);
}

.txt_secundario {
    font-size: 15px;
    padding-left: 40px;
    padding-top: 25px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-color: rgb(235, 231, 231);
}

section input {
    width: 100px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-color: rgb(194, 192, 192);

}

.botao {
    padding-top: 30px;
    padding-left: 40px;
}

